html, body {
    margin: 0 auto;
    padding: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 100px;
}

header {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    margin: 0;
    color: white;
    font-size: 100px;
    text-align: center;
    background-color: rgb(28, 70, 162);
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.answer {
    width: 80%;
    display: block;
    margin: 80px auto;
    /* margin-top: 80px; */
    padding: 10px;
}

.left {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    /* height: calc(10vh - 10px); */
    gap: 10px;
    margin-bottom: 10px;
}

.card, img{
    width: 100%;
    background-color: grey;
}

.reset {
    height: 40%;
    border-radius: 0px 0px 20px 0px;
    border-color: black;
    border-left: 2px solid;
}

.sidebar-border {
    border: 3px solid black;
}

h2 {
    margin: 0;
}